<header class="header">
  <nav class="navbar">
    <a class="logo" href="#">Mon cheptel</a>
    <input type="checkbox" id="nav" class="hidden">
    <label for="nav" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <div class="wrapper">
      <ul class="menu">
        <li class="menu-item"><a href="#">Home</a></li>
        <li> <a [routerLink]="['/signin']">Sign in</a></li>
        <li class="menu-item"><a href="#">About</a></li>
        <li class="menu-item"><a href="#">Prices</a></li>
      </ul>
    </div>
  </nav>
</header>
